<p>user-homepage works!</p>
<button class="btn btn-danger btn-lg" routerLink="/logout">Logout</button><hr>
<button class="btn btn-primary" routerLink="/user/accountList">My Accounts</button> <hr>
<button class="btn btn-primary" routerLink="/user/deposit">Deposit money</button> <hr>
<button class="btn btn-primary" routerLink="/user/withdraw">Withdraw money</button> <hr>
<button class="btn btn-primary" routerLink="/user/transfer">Transfer money</button> <hr>
<button class="btn btn-primary" routerLink="/user/profileSettings">My Profile</button> <hr>
